/* body {
  margin: 0;
  height: 100vh;
  width: 100vw;
} */

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("sea.jpg");
  background-size: cover;
}

.background .water {
  position: absolute;
  background-image: url("sea-map.png");
  background-size: cover;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  filter: url("#turbulence");
}
