<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <style type="text/css">
   
  </style>
  </head>
  <body>
    <h1>Henry Quinn</h1>
    <h2>
      <a href="https://github.com/quinncuatro">GitHub</a> || <a href="https://linkedin.com/in/henryquinniv">LinkedIn</a> || <a href="https://twitter.com/quinncuatro">Twitter</a>
    </h2>
    <h3>
    Description:
    </h3>
    <p>
    Henry is a DevOps Engineer for Clarity Software Solutions and a member of the board of directors for <a href="https://newhaven.io">NewHavenIO</a>. When he's not automating processes at work or organizing for IO, you can usually find him climbing rocks, cooking food, or yelling at referees during a Packers game.
    </p>
  </body>
</html>
